body { 
  background: black;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  padding-top: 20%;
}

section { 
  color: #CCC;
  font-size: 15vh;
}

aside {
  font-size: 2vh;
  font-color: #999;
}
